{% extends "base.html" %}

{% block content %}
<h5>
    Используйте эту форму для входа.
    Если у вас нет аккауунта, <a href="{% url 'register' %}">регистрируйтесь здесь</a>
</h5>

{% if form.errors %}
  <р3>Ваш логин и/или пароль не подходят. Попробуйте еще раз.</р3>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ login_form.username.label_tag }}</td>
  <td>{{ login_form.username }}</td>
</tr>

<tr>
  <td>{{ login_form.password.label_tag }}</td>
  <td>{{ login_form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}