{%  extends 'base.html' %}

{% block content %}
    <h3>Мои статьи | {{ articles.count }}</h3>
    {% for article in articles %}
        <a href="{% url 'by_article' article.category_id article.pk %}">{{ article.title }}</a>
        <h4>{{ forloop.revcounter }} | {{ article.category_id }} | {{ article.published }}</h4>
        <p>{{ article.text }}</p>
        <form action="{% url 'update' article.pk %}">
            <button>Редактировать</button>
        </form>
        <form action="{% url 'delete' article.pk %}">
            <button>Удалить</button>
        </form>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% empty %}
        <h4>К сожалению список ваших статей на данный момент пуст.</h4>
    {% endfor %}
{% endblock %}

{% block paginate %}
    <div class="pagination">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;</a>
            &nbsp; &nbsp; | &nbsp; &nbsp;
        {% endif %}
        Часть № {{ page.number }} из {{ page.paginator.num_pages }}
        {% if page.has_next %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="?page={{ page.next_page_number }}">&gt</a>
        {% endif %}
    </div>
{% endblock %}