body {
    background: #5DCFC3;
    border: 0;
    color: #009E8E;
    margin: 0 15%;
}

nav {
    padding: 20px 40px;
    background: #1533AD;
    font-size: 16pt;
    border-width: 0 5px;
    border-color: #14c7b8;
    border-style: solid;
}

a:active,
a {
    text-decoration: None;
    color: #5DCFC3;
}

nav a:active,
nav a {
    margin: 0 10px;
}

section {
    padding: 50px 40px;
    background: #00675C;
    border-width: 5px 5px;
    border-color: #14c7b8;
    border-style: solid;
}

.by_article_title {
    color: #5DCFC3;
}

#user_nav {
    margin-left: 100px;
}