/* Main style */

body {
    background: linear-gradient(45deg, #54b7b5, #0e7094);
    border: 0;
    color: #efe6f9;
    margin: 0 13%;
}

/* Clearfix */

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

section a:active,
section a:hover {
    color: #57eae5;
}

a {
    text-decoration: None;
    color: #9998f1;
}

section {
    padding: 50px 40px;
    background: linear-gradient(45deg, #23546f, #732aa2, #127f73);
    border-width: 5px 5px;
    border-color: #14c7b8;
    border-style: solid;
}

.by_article_title {
    color: #5DCFC3;
}

#user_nav {
    margin-left: 100px;
}

hr {
    width: 100%;
    border-color: #2b81ad;
    border-style: solid;
}

form {
    display: inline
}

/*  Navigation */

nav {
    background: linear-gradient(45deg, #273e8b, #732aa2, #89347f);
    font-size: 16pt;
    border-width: 0 5px;
    border-color: #14c7b8;
    border-style: solid;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
	display: inline-table;
    height: 70px;
    width: 100%;
}

nav li {
    padding: 20px 0;
    position: relative;
    display: inline;
    border-bottom: 0;
    border-top: 0;
    float: left;
}


nav li a {
    padding: 20px 20px;
    margin: 0;
}

nav ul ul {
    top: 64px;
	display: none;
    position: absolute;
    background: #273e8b;
    padding: 0;
}

nav li:hover {
    background: #410e94;
}
nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    float: none;
    position: relative;
    display: block;
    background: #273e8b;
    width: 160px;
}
nav ul ul li a {
	padding: 15px 30px;
    text-align: center;
}

#pos-right {
    float: right;
}

/* Paginator */
.pagination {
    text-align: right;
    margin-right: 40px;
    color: #9998f1;
}

.pagination:active,
.pagination:hover {
    color: #5beee1;
}

