{%  extends "base.html" %}

{% block title %}Главная:: {{ category.name }}{% endblock %}

{% block content %}
    {% for aa in articles %}
        <a href="{% url 'by_article' aa.category_id aa.pk %}">{{ aa.title }}</a>
        <h4>{{ aa.author_id }} | {{ aa.category_id }} | {{ aa.published }}</h4>
        <p>{{ aa.short_text }}</p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% empty %}
        <h3>К сожалению на данный момент список статей в этой категории пуст.</h3>
    {% endfor %}
{% endblock %}